/*------------------------------------------------------------------

Project:		HealthCare E-Commerce Bootsrap Responsive Template
Version:		1.1
Last change:	07/10/17
Created by: 	Lionode

-------------------------------------------------------------------*/
/* -----  Google Font  -----*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* -----  ionicons Font  -----*/
@import url("ionicons.min.css");
/* -----  font awesome Font  -----*/
@import url("font-awesome.min.css");
/* =====  INDEX OF STYLES ===== 
01 ===== BASIC  =====product-tab
  1.1 General
  1.2 Typography  
  1.3 Spacing    
  1.4 Button
  1.5 Elements
  1.6 Accordions
  1.7 Tabs
  1.8 Progress Bars
  1.9 Inputs
  1.10 Timer
  1.11 Newslatter popup 
  
02 ===== HEADER ===== 
  2.1 Header
  2.2 Navbar
  2.3 Megamenu
  2.4 Search
  2.5 Cart
  2.6 Header bottom
  
03 ===== CONTANT =====
  3.1 Left column
  3.2 Right column
  	3.2.1 main banner
  	3.2.2 CMS-Banner
  	3.2.3 Home product
  	3.2.4 Breadcrumb
  	3.2.5 Blog
  	3.2.6 Single Blog
  	3.2.7 Product + Category Page 
  	3.2.8 Client
  	3.2.9 Owl nav
  	3.2.10 About
  	3.2.11 Team
  	3.2.12 Contact
  	3.2.13 Shop Page
  	3.2.14 Login & register
  	3.2.15 Map
  	3.2.16 Brand
  
04 ===== FOOTER =====
	4.1 Footer General
	4.2 Scrollup

 ----------------------------------------------
	BASIC
	1.1 General  
----------------------------------------------- */

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	line-height: 24px;
	color: #808080;
	font-size: 14px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.loder {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loder.gif) center no-repeat #fff;
}

::-moz-selection {
 background-color: #1A1A1A;
 color: #FFF;
}
::selection {
	background-color: #1A1A1A;
	color: #FFF;
}
img {
	height: auto;
	max-width: 100%;
	border: none;
	outline: none;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
ul li {
	list-style: none;
}
br {
	font-size: 0;
	line-height: 0;
}
hr {
	margin-bottom: 0px;
	margin-top: 0px;
	border-top: 1px solid #e5e5e5;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.dropdown-menu {
	background-clip: padding-box;
	background-color: #f2f2f2;
	border: 1px solid #dcdcdc;
	border-radius: 0px;
	box-shadow: none;
	margin: 11px 0 0;
	padding: 15px;
}
.dropdown-menu > li > a {
	color: #000;
	padding: 5px 15px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #e74c3c;
	color: #fff;
}
ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0;
}
.bg-gray {
	background: #f7f7f7;
}
.bg-dark-gray {
	background: #ededed;
}
.bg-dark {
	background: #000000;
	color: #fff;
}
.bg-dark-90 {
	background: #1a1a1a;
	color: #fff;
}
.bg-light {
	background: #ffffff;
}
.light {
	color: #fff;
}
.dark {
	color: #000;
}
/* ----------------------------------------------
	1.2 Typography 
----------------------------------------------- */
a {
	cursor: pointer;
	text-decoration: none;
	color: #808080;
	transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
}
a:hover, a:focus {
	color: #000;
	text-decoration: none;
	transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
}
a, a:focus, a:active, a:link, img {
	outline: none;
	text-decoration: none;
}
a.active {
	color: #000;
}
p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 0px;
}
h1 {
	font-size: 33px;
	line-height: 42px;
}
h2 {
	font-size: 27px;
	line-height: 36px;
}
h3 {
	font-size: 19px;
	line-height: 26px;
}
h4 {
	font-size: 15px;
	line-height: 22px;
}
h5 {
	font-size: 14px;
	line-height: 20px;
}
h6 {
	font-size: 13px;
	line-height: 18px;
}
.uppr {
	text-transform: uppercase;
}
.lower {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}
/* ----------------------------------------------
	1.3 Spacing 
----------------------------------------------- */
.box {
	margin: 0 -10px;
}
.no-space {
	padding: 0;
	margin: 0;
}
.no-margin {
	margin: 0;
}
/* =====  margin top  ===== */

.mtblr_20 {
	margin: 20px;
}
.mt_0 {
	margin-top: 0;
}
.mt_10 {
	margin-top: 10px;
}
.mt_20 {
	margin-top: 20px;
}
.mt_25 {
	margin-top: 25px;
}
.mt_30 {
	margin-top: 30px;
}
.mt_40 {
	margin-top: 40px;
}
.mt_50 {
	margin-top: 50px;
}
.mt_60 {
	margin-top: 60px;
}
.mt_70 {
	margin-top: 70px;
}
.mt_80 {
	margin-top: 80px;
}
.mt_90 {
	margin-top: 90px;
}
.mt_100 {
	margin-top: 100px;
}
/* =====  margin bottom  ===== */

.mb_0 {
	margin-bottom: 0;
}
.mb_10 {
	margin-bottom: 10px;
}
.mb_20 {
	margin-bottom: 20px;
}
.mb_30 {
	margin-bottom: 30px;
}
.mb_40 {
	margin-bottom: 40px;
}
.mb_50 {
	margin-bottom: 50px;
}
.mb_60 {
	margin-bottom: 60px;
}
.mb_70 {
	margin-bottom: 70px;
}
.mb_80 {
	margin-bottom: 80px;
}
.mb_90 {
	margin-bottom: 90px;
}
.mb_100 {
	margin-bottom: 100px;
}
/* =====  margin top bottom ===== */

.mtb_10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.mtb_20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.mtb_30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.mtb_40 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.mtb_50 {
	margin-top: 50px;
	margin-bottom: 50px;
}
.mtb_60 {
	margin-top: 60px;
	margin-bottom: 60px;
}
.mtb_70 {
	margin-top: 70px;
	margin-bottom: 70px;
}
.mtb_80 {
	margin-top: 80px;
	margin-bottom: 80px;
}
.mtb_90 {
	margin-top: 90px;
	margin-bottom: 90px;
}
.mtb_100 {
	margin-top: 100px;
	margin-bottom: 100px;
}
/* =====  padding  ===== */

.no-padding {
	padding: 0;
}
/* =====  padding top ===== */
.pt_10 {
	padding-top: 10px;
}
.pt_20 {
	padding-top: 20px;
}
.pt_30 {
	padding-top: 30px;
}
.pt_40 {
	padding-top: 40px;
}
.pt_50 {
	padding-top: 50px;
}
.pt_60 {
	padding-top: 60px;
}
.pt_70 {
	padding-top: 70px;
}
.pt_80 {
	padding-top: 80px;
}
.pt_90 {
	padding-top: 90px;
}
.pt_100 {
	padding-top: 100px;
}
/* =====  padding bottom ===== */
.pb_10 {
	padding-bottom: 10px;
}
.pb_20 {
	padding-bottom: 20px;
}
.pb_30 {
	padding-bottom: 30px;
}
.pb_40 {
	padding-bottom: 40px;
}
.pb_50 {
	padding-bottom: 50px;
}
.pb_60 {
	padding-bottom: 60px;
}
.pb_70 {
	padding-bottom: 70px;
}
.pb_80 {
	padding-bottom: 80px;
}
.pb_90 {
	padding-bottom: 90px;
}
.pb_100 {
	padding-bottom: 100px;
}
/* =====  padding top bottom ===== */
.ptb_10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.ptb_20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.ptb_30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.ptb_40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.ptb_50 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.ptb_60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.ptb_70 {
	padding-top: 70px;
	padding-bottom: 70px;
}
.ptb_80 {
	padding-top: 80px;
	padding-bottom: 80px;
}
.ptb_90 {
	padding-top: 90px;
	padding-bottom: 90px;
}
.ptb_100 {
	padding-top: 100px;
	padding-bottom: 100px;
}
/* ----------------------------------------------
	1.4 Button 
----------------------------------------------- */
.btn {
	background: #e74c3c none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
	padding: 8px 20px;
	text-transform: uppercase;
	font-weight: 500;
}
.btn:hover, .btn:focus, .btn.focus {
	background: #000 none repeat scroll 0 0;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}
.btn-link-b, .btn-link-w {
	background: transparent;
	border-bottom: 1px solid;
	padding: 0 0 10px;
	letter-spacing: 0;
}
.btn-link-b {
	color: #000;
}
.btn-link-w {
	color: #fff;
}
.btn-link-w:hover, .btn-link-w:focus, .btn-link-b:hover, .btn-link-b:focus {
	text-decoration: none;
	border-bottom: 1px solid;
}
.btn-dark {
	background: #000 none repeat scroll 0 0;
	color: #fff;
}
.btn-light {
	background: #fff none repeat scroll 0 0;
	color: #000;
}
.btn-border {
	border: 1px solid;
	background-color: transparent;
}
/* ----------------------------------------------
	1.5 Elements 
----------------------------------------------- */
.alert {
	border-radius: 0px;
	padding: 10px 15px;
}
.alert-dismissable .close, .alert-dismissible .close {
	top: 0;
	right: 0;
}
/* =====  Icon  =====*/

i.left {
	margin-right: 10px;
}
i.right {
	margin-left: 10px;
}
.icon-top i, .icon-right i, .icon-left i {
	color: #000;
	font-size: 50px;
}
.feature-i-left {
	padding-left: 75px;
}
.feature-i-left, .feature-i-right {
	display: inline-block;
	position: relative;
}
.icon-left, .icon-right {
	display: inline-block;
	position: absolute;
	text-align: center;
	width: 60px;
	height: 100%;
}
.icon-left {
	right: 0;
}
.icon-right {
	left: 0;
}
/* ----------------------------------------------
	1.6 Accordian 
----------------------------------------------- */
.panel-default {
	width: 100%;
}
.panel-heading {
	padding: 15px;
}
.panel-group .panel {
	border-radius: 0;
}
.panel-default > .panel-heading {
	background: #f2f2f2;
}
.panel-default {
	border-color: #e5e5e5;
}
/* ----------------------------------------------
	1.7 Tabs 
----------------------------------------------- */
.nav > li > a {
	padding: 7px 10px;
	border-radius: 0;
}
.nav > li > a:hover, .nav > li > a:focus {
	background: transparent;
}
#product-tab .nav li {
	display: inline-block;
}
/* ----------------------------------------------
	1.8 Progress Bars
----------------------------------------------- */

.progress-title {
	font-size: 16px;
	font-weight: 700;
	color: #011627;
	margin: 0 0 20px;
}
.progress {
	height: 10px;
	background: #cbcbcb;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 30px;
	overflow: visible;
}
.progress .progress-bar {
	box-shadow: none;
	position: relative;
	-webkit-animation: animate-positive 2s;
	animation: animate-positive 2s;
}
.progress .progress-bar::after {
	border-color: transparent;
	border-image: none;
	border-style: solid;
	border-width: 12px 6px 14px;
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: -26px;
}
.progress .progress-value {
	font-size: 15px;
	font-weight: bold;
	color: #000;
	position: absolute;
	top: -40px;
	right: 0;
}
.progress.pink .progress-bar:after {
	border-bottom-color: #ff4b7d;
}
.progress.green .progress-bar:after {
	border-bottom-color: #5fad56;
}
.progress.yellow .progress-bar:after {
	border-bottom-color: #e8d324;
}
.progress.blue .progress-bar:after {
	border-bottom-color: #3485ef;
}
.circle {
	width: 100%;
	display: inline-block;
	text-align: center;
	line-height: 1.2
}
.circle strong {
	line-height: 40px;
	position: absolute;
	text-align: center
}
.circle strong {
	left: 0;
	top: 30px;
	width: 100%;
	font-size: 30px
}
.circle strong i {
	font-style: normal;
	font-size: .6em;
	font-weight: 400
}
.circle span {
	display: block;
	margin-top: 12px
}
 @-webkit-keyframes animate-positive {
 0% {
width: 0;
}
}
@keyframes animate-positive {
 0% {
width: 0;
}
}
#p_line .progress {
	position: relative;
	height: 25px;
	box-shadow: none;
	border-radius: 0;
	background-color: #ddd;
}
#p_line .progress > .progress-type {
	position: absolute;
	left: 0px;
	padding: 0px 10px;
	color: rgb(255, 255, 255);
}
#p_line .progress > .progress-completed {
	position: absolute;
	right: 0px;
	padding: 0px 10px;
	color: #000;
}

/* ----------------------------------------------
	1.9 Inputs
----------------------------------------------- */
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="radio"], input[type="checkbox"], input[type="file"], textarea, select {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e5e5e5;
	border-image: none;
	border-radius: 0;
	border-style: solid;
	border-width: 1px;
	background-color: #fff;
	color: #888;
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
	outline: medium none;
	transition: all 0.2s ease 0s;
	padding: 8px 10px;
	min-width: 40px;
}
input[type="radio"], input[type="checkbox"] {
	min-width: auto;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}
textarea {
	min-height: 140px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #808080;
 opacity:1
}

::-moz-placeholder { /* Firefox 19+ */
 color: #808080;
 opacity:1
}
:-ms-input-placeholder { /* IE 10+ */
 color: #808080;
 opacity:1
}
:-moz-placeholder { /* Firefox 18- */
 color: #808080;
 opacity:1
}
input:focus, textarea:focus {
	border-color: #000;
}
.full-with-form {
	width: 100%;
	max-width: 100%;
}
/* =====  Select  =====*/
.form-control {
	border-radius: 0px;
	box-shadow: none;
	max-width: 100%;
}
.form-control:focus {
	box-shadow: none;
	border-color: #000;
}
/* ----------------------------------------------
	1.10 Timer
----------------------------------------------- */
.timer div {
	border: 2px solid #e74c3c;
	color: #000;
	display: inline-block;
	font-family: arial;
	font-size: 20px;
	line-height: 1;
	margin-right: 10px;
	padding: 8px;
	text-align: center;
	width: 58px;
	font-weight:700;
}
.timer span {
	display: block;
	font-size: 14px;
	color: #000;
	margin-top: 5px;
	font-weight:500;
}

/* ----------------------------------------------
	1.11 Newslatter popup
----------------------------------------------- */
.newsletters {
	margin: 34px auto;
	padding: 42px 50px 28px;
	background-color:#f5f5f5;
	display:inline-block;
	width:100%;
}
.newsletters input {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #000;
    float: right;
    height: 55px;
    margin: 0;
    padding: 0 20px;
    width: 400px;
}
.newsletters button {
	border: none;
	border-radius: 0;
	background: #000;
	color: #fff;
	text-transform:uppercase;
	box-shadow: none;
	height: 55px;
	float: right;
	width: 180px;
	border: 1px solid #000;
	transition:0.5s;
	letter-spacing:0.5px;
}
.newsletters button:hover, .newsletters button.btn-default:focus {
	background: #fff;
	border-color:#000;
	color:#000;
	transition:0.5s;
	box-shadow: none;
}
.newsletter-popup .popup-text {
	text-align: center;
}
.newsletter-popup .popup-image {
	margin-bottom: 35px;
}
.newsletter-popup .checkbox label {
	color: #000000;
}
.newsletter-popup .popup-title {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 80px;
	line-height: 60px;
	text-transform: capitalize;
	color: #000000;
	font-weight: 700;
	padding-bottom: 0px;
	float: left;
}
.newsletter-popup .popup-title span {
	font-size: 24px;
	margin-left: -20px;
}
.newsletter-popup, .success_msg {
    background: #f0f0f0;
    box-shadow: 0 4px 5.94px 0.06px rgba(0, 0, 0, 0.13);
    height: auto;
    left: 0;
    margin: 0 auto;
    padding: 25px;
    position: fixed;
    right: 0;
    top: 20%;
    width: 750px;
}
.newsletter-popup-top {
    float: right;
    margin: 55px auto 0 20px;
    overflow: visible;
    padding: 0 0 50px;
    width: 290px;
}
.newsletter-popup-top .btn-default, .newsletter-popup-top .btn-default:hover {
	border:0;
	transition: all 0.5s ease 0s;
	padding: 10px 18px;
	margin: 20px 0 0;
	float: left;
}
.newsletter-popup-top .popup-desc {
	padding: 20px 20px;
	margin: 0px;
	color: #000000;
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	margin-bottom: 30px;
	line-height: 17px;
	text-align: left;
	clear:left;
}
.newsletter-popup-top .popup-desc span {
	font-weight: bold;
}
.newsletter-popup-top input{
  background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    box-shadow: none;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    margin: 0;
    padding: 5px 18px;
    width: 100%;
}
#xout {
  color: #000;
    cursor: pointer;
    font-size: 27px;
    font-weight: 300;
    height: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
}
#xout:hover {
  color: #555;
}
#checkme {
    margin: 20px 5px 0 0;
    width: 20px;
}
label.checkme {
    clear: left;
    display: block;
    float: left;
}

/* ----------------------------------------------
		HEADER
	2.1 Header
----------------------------------------------- */
/* ===== Header top Style ===== */
.header-top {
	background: #f2f2f2;
	font-size: 13px;
}
.header-top-left, .header-top-right {
	margin: 8px 0;
}
.header-top-left li, .header-top-right li {
	display: inline;
	cursor: pointer;
}
.header-top-left > li, .header-top-right > li {
	padding: 0 20px;
	border-left: 1px solid #bbb;
	line-height: 11px;
}
.header-top-left > li:first-child {
	padding: 0 20px 0 0;
}
.header-top-right > li:last-child {
	padding: 0 0 0 20px;
}
.header-top-left > li:first-child {
	border-left: none;
}
.header-top-right > li:first-child {
	border-left: none;
}
/* ----------------------------------------------
	2.2 Navbar
----------------------------------------------- */

.navbar {
	border-radius: 0;
	border: 0;
	margin: 0;
}
.navbar-brand {
	padding: 15px 0;
}
.navbar-header .navbar-brand {
	height: auto;
}
.header.navbar, #category-menu.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
/* ----------------------------------------------
	2.3 megamenu
----------------------------------------------- */
.navbar-toggle {
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	margin: 2px 15px 0 0;
	position: relative;
	padding: 0;
}
.mega-dropdown {
	position: static !important;
}
.mega-dropdown:hover .mega-dropdown-menu {
	display: block;
}
.mega-dropdown-menu {
	padding: 40px 0px;
	width: 100%;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
	padding: 0;
	margin: 0;
}
.mega-dropdown-menu > li > ul > li {
	list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
	display: block;
	padding: 6px 20px;
	clear: both;
	font-weight: 500;
	white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
	text-decoration: none;
	color: #fff;
	background-color: #e74c3c;
}
.mega-dropdown-menu .dropdown-header {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.mega-dropdown-menu form {
	margin: 3px 20px;
}
.mega-dropdown-menu .form-group {
	margin-bottom: 3px;
}
#menu > li > a {
	font-weight: 500;
	padding: 55px 18px;
	border-radius: 0;
	overflow: hidden;
	text-transform: uppercase;
}
#menu > li > a:hover, #menu > li > a:focus {
	background-color: #e74c3c;
	color: #fff;
}
#menu .mega-dropdown:hover > a, #menu .mega-dropdown > a:hover, #menu .mega-dropdown > a:focus, #menu .dropdown:hover > a {
	background-color: #e74c3c;
	color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #e74c3c;
	color: #fff;
}
#menu > li > a::before {
	background: #e74c3c none repeat scroll 0 0;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scaleY(0);
	transform-origin: 0 0 0;
	transition-duration: 0.3s;
	z-index: -1;
}
#menu .mega-dropdown:hover a::before, #menu > li:hover > a::before, #menu > li:focus > a::before {
	transform: scaleY(1);
}
#menu .dropdown:hover .dropdown-menu {
	display: block;
	width: 100%;
}
#menu .dropdown-menu {
	min-width: 260px;
}
#menu .dropdown-menu > li > a {
	padding: 8px 15px;
}
#myCarousel {
	border: 5px solid #ffffff;
	margin-right: 20px;
}

/* ----------------------------------------------
	2.4 Search
----------------------------------------------- */
.search-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	-webkit-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	-moz-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	-ms-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	-o-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
	text-align: center;
}
.search-overlay.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	-moz-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	-ms-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
	transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}
.search-overlay .container {
	height: 100%;
}
.search-overlay form {
	position: relative;
	vertical-align: middle;
	top: 50%;
	left: 0;
	margin: -78px 0 0;
	width: 100%;
	text-align: left;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
.search-overlay form input {
	height: 120px;
	width: 100%;
	color: #aaa;
	background: transparent;
	border-top: 0px none;
	border-bottom: 2px solid #707070 !important;
	border-left: 0px none;
	border-right: 0px none;
	font-size: 55px;
	font-weight: 700;
	outline: none;
	padding: 25px 0;
	font-family: "Raleway", sans-serif;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.search-overlay form input:focus {
	color: #fff;
}
.search-overlay form button {
	background: rgba(0, 0, 0, 0) url("../images/search-go.png") no-repeat scroll center center;
	border: medium none;
	height: 120px;
	position: absolute;
	right: 0;
	bottom: 0px;
	width: 35px;
	color: #c6c6c6;
	padding: 0;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background-color: none;
}
.search-overlay form button:hover {
	background-color: none;
	background: rgba(0, 0, 0, 0) url("../images/search-go-hover.png") no-repeat scroll center center;
}
.search-overlay .search-overlay-close {
	background: url("../images/close-icon-black.png") center center no-repeat;
	position: absolute;
	top: 25px;
	right: 25px;
	opacity: 1;
	font-size: 27px;
	z-index: 100;
	width: 16px;
	height: 16px;
	display: inline-block;
	color: #333;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
.search-overlay .search-overlay-close:hover {
	background: url("../images/close-icon-color.png") center center no-repeat;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
 @media only screen and (max-width: 776px) {
.search-overlay form button {
	height: 60px;
}
.search-overlay form input {
	height: 60px;
	font-size: 30px;
	padding: 10px 45px 10px 0px;
}
.search-overlay form {
	margin-top: -47px;
}
}
.search-box input.input-text {
	border: 1px solid #CCC;
	width: 0;
	opacity: 0;
	padding: 6px;
	position: absolute;
	right: 0;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
#search-overlay-btn {
	background: transparent url("../images/sprite.png") no-repeat scroll -53px -474px;
	border: medium none;
	display: block;
	height: 20px;
	transition: all 0.5s ease 0s;
	width: 20px;
	margin: 3px 22px 0 0
}
#search-overlay-btn:hover {
	background-position: -53px -426px;
}
.header-search .search-box input {
	background-color: #fff;
}
.shopping-icon  {
	float: right;
	margin: 3px 0 0 0px;
	display: inline-flex;
	cursor: pointer;
	position: relative;
}
.shopping-icon .cart-item{
	color: #000;
	font-weight: 600;
}
.shopping-icon span {
	color: #e74c3c;
}
.shopping-icon:hover:before {
	background: transparent url("../images/sprite.png") no-repeat scroll -102px -424px;
	transition: 0.5s;
}
.shopping-icon:before {
	background: transparent url("../images/sprite.png") no-repeat scroll -102px -472px;
	width: 24px;
	height: 24px;
	content: "";
	display: block;
	margin: 0 10px 0 0px;
	transition: 0.5s;
}
/* ----------------------------------------------
	2.5 Cart
----------------------------------------------- */
#cart-dropdown {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #e5e5e5;
	min-width: 285px;
	position: absolute;
	right: 0;
	top: 44px;
	z-index: 3;
}
#cart-dropdown ul {
	padding: 20px;
	display: inline-table;
}
#cart-dropdown .product-name {
    min-width: 160px;
	padding-left:10px !important;
}
#cart-dropdown .price {
    display: block;
	font-size:14px;
}

#cart-dropdown .cart-qty {
    margin-top: 5px;
    padding: 5px 8px;
    width: 60px;
}
#cart-dropdown .table > tbody > tr > td{
	padding: 10px 0;
}
/* ----------------------------------------------
	2.6 Header bottom
----------------------------------------------- */
.header-bottom {
	background: #000;
}
.header-bottom-left {
	background: #f2f2f2 none repeat scroll 0 0;
	padding: 15px 25px;
	position: absolute;
	width: 100%;
}
.header-bottom-left > li {
	border-bottom: 1px dashed #808080;
	padding: 10px 0;
}
.header-bottom-left li {
	display: block;
}
#category-menu-responsive {
	display: none;
}
/* Make it a marquee */
.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
    text-indent: 0;
    animation: marquee 50s linear infinite;

}
.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.offers {
	padding: 12px 0px 8px 0;
	letter-spacing: 0;
	font-style: italic;
	font-weight:600;
	overflow: hidden;
}
.offers span {
	color: #fff;
	font-style: normal;
}
.offers i {
	color: #e74c3c;
	margin: 0 10px 0 30px;
}
.menu-bar {
	display: inline-block;
	width: 100%;
}
.category {
	background: #e74c3c none repeat scroll 0 0;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 15px;
	display: grid;
	cursor: pointer;
}
.category_text {
	float: left;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	line-height: 21px;
}
.i-bar {
	float: right;
	font-size: 21px;
	line-height: 1;
}
#category-menu, .main-navigation {
	background: #f2f2f2;
	width: 100%;
	padding: 6px 0;
}
#column-left .nav > li > a {
	padding: 10px 0px;
}
#column-left .nav > li, #category-menu-responsive .nav > li {
	margin: 0 20px;
	border-bottom: 1px dashed #ccc;
}
#column-left .nav > li:last-child {
	border: none;
}

/* ----------------------------------------------
	CONTANT
	3.1 Left column
----------------------------------------------- */
.left_banner {
	display: inline-block;
}
.left-cms {
	color: #000;
}
.feature-i-left h6 {
	text-transform: uppercase;
	font-weight: 700;
}
.feature-i-left:hover h6 {
	color: #e74c3c;
}
.left-cms ul > li {
	border-top: 3px solid #e5e5e5;
	padding-left: 20px;
	cursor: pointer;
}
.left-cms ul > li:last-child {
	border-bottom: 3px solid #e5e5e5;
}
.left-special.left-sidebar-widget li {
	display: inline-block;
}
#left-special .product-list .product-thumb .image, #bests-pro .product-list .product-thumb .image, #featu-pro .product-list .product-thumb .image, #new-pro .product-list .product-thumb .image {
	width: auto;
}
.list-group-item {
	background-color: transparent;
	border: 0 none;
	border-radius: 0;
	overflow: hidden;
	padding: 0px;
}
input#amount {
	border: 0;
	color: #e74c3c;
	font-weight: 700;
	font-size: 16px;
	width: 140px;
}
.Shipping, .Order, .Save, .Safe {
	background: transparent url("../images/sprite.png") no-repeat scroll -127px 0px;
	overflow: hidden;
	height: 50px;
	width: 50px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s ease 0s;
}
.Order {
	background-position: -127px -120px
}
.Save {
	background-position: -127px -238px
}
.Safe {
	background-position: -128px -357px
}
.feature-i-left:hover .Shipping {
	background-position: 2px 0px
}
.feature-i-left:hover .Order {
	background-position: 2px -120px
}
.feature-i-left:hover .Save {
	background-position: 2px -238px
}
.feature-i-left:hover .Safe {
	background-position: 1px -357px
}
.Tags.left-sidebar-widget li {
	background: #f2f2f2 none repeat scroll 0 0;
	display: inline-block;
	margin-bottom: 5px;
	padding: 8px 17px;
}
.Tags.left-sidebar-widget li:hover {
	background: #e74c3c none repeat scroll 0 0;
}
.Tags.left-sidebar-widget li:hover a {
	color: #fff;
}
#left-blog .blog-item {
	display: inline-block;
}
.blog-category li {
	margin: 0 0 10px;
}


/* ----------------------------------------------
	3.2.1 main banner
----------------------------------------------- */
.main-banner .owl-dots {
	bottom: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
}
.main-banner .owl-dot {
	display: inline-block;
}
.main-banner .owl-dot > span {
	background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
	border: 2px solid #F1F1F3;
	border-radius: 50%;
	display: inline-block;
	height: 14px;
	margin: 4px;
	width: 14px;
}
.main-banner .owl-dot.active > span {
	background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0;
	border: 2px solid #e74c3c;
	border-radius: 50%;
	display: inline-block;
	height: 14px;
	margin: 4px;
	width: 14px;
}
/* ----------------------------------------------
	3.2.2 CMS-Banner
----------------------------------------------- */
.cms_banner {
	display: inline-block;
}
.banner {
	overflow: hidden;
}
.bannertext {
	position: absolute;
	top: 24%;
	left: 10%;
	width: 50%;
}
.bannertext > h2 {
	font-size: 30px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	color: #000;
	line-height: 1;
}
.bannertext > p {
	color: #e74c3c;
	font-size: 14px;
}
.sub-hover {
	overflow: hidden;
}
.sub-hover:hover img {
	transform: scale(1.1);
	transition: all 0.6s ease 0s;
}
/* ----------------------------------------------
	3.2.3 Home product
----------------------------------------------- */
.main_title {
	font-size: 20px;
	float: left;
	color: #000;
	font-weight: 700;
}
.main_title:after {
	border-bottom: 3px solid #e74c3c;
	content: "";
	display: block;
	margin-bottom: -3px;
	padding: 1px;
}
.heading-part {
	border-bottom: 3px solid #e5e5e5;
	display: inline-block;
	width: 100%;
}
#product-tab {
	position: relative;
}
#product-tab .nav {
	position: absolute;
	right: 70px;
	top: 0;
}
/* ----------------------------------------------
	3.2.4 Breadcrumb
----------------------------------------------- */
.breadcrumb {
	background-image: url("../images/breadcrumb.jpg");
	border-radius: 0;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}
.breadcrumb li {
	display: inline-block;
}
.breadcrumb li.active {
	color: #fff;
}
.breadcrumb h1 {
	color: #fff;
	float: left;
	font-size: 24px;
	font-weight: 500;
	line-height: 1;
}
.breadcrumb > ul {
	float: right;
}
.breadcrumb li {
	font-size: 16px;
	font-weight: 300;
}
.breadcrumb li::after {
	content: "/";
	display: inline-block;
	height: 15px;
	margin: 0;
	width: 30px;
}
.breadcrumb li:last-child::after {
	content: "";
	display: inline-block;
	height: 15px;
	margin: 0;
	width: auto;
}
.breadcrumb li a:hover {
	color: #fff!important;
}
/* ----------------------------------------------
	3.2.5 Blog
----------------------------------------------- */
.date-time {
	background: #e74c3c none repeat scroll 0 0;
	color: #fff;
	font-weight: 700;
	height: 50px;
	left: 20px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 10px;
	width: 50px;
	font-family:"Open Sans";
	padding:5px;
}
.day, .month {
    line-height: 1;
    margin: 0;
    padding: 2px 0;
}
.box-holder {
	padding: 0 10px;
}
.post-type {
	background: rgba(255, 255, 255, 0.50) none repeat scroll 0 0;
	color: #000;
	cursor: default;
	font-size: 20px;
	height: 40px;
	left: 25px;
	line-height: 40px;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 40px;
}
.post-info {
	display: inline-block;
}
.post-info h6 a {
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
}
.post-img:hover > a {
	opacity: 0.6;
}
.post-format:hover .thumb.post-img > a {
	opacity: 0.6;
}
.blog .date i {
	margin-right: 10px;
}
/* ----------------------------------------------
	3.2.6 Single Blog
----------------------------------------------- */
article, .author {
	display: inline-block;
	width: 100%;
}
.author-avatar, .comment-avatar {
	float: left;
	margin-right: 20px;
	width: 80px;
}
.author-name {
	display: inline-block;
	margin-top: 0;
}
blockquote {
	border-color: #e74c3c;
}
/* ----------------------------------------------
	3.2.7 Product + Category Page 
----------------------------------------------- */
#product-tab .product-thumb {
	margin: 0px 10px 20px;
}
.product-thumb {
	overflow: hidden;
}
.product-thumb a img + img {
	display: none;
}
.product-thumb:hover a img {
	display: none;
}
.product-thumb:hover a img + img {
	display: block;
}
.image.product-imageblock > a {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #e6e6e6;
	overflow: hidden;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-grid .product-thumb .image {
	float: none;
}
.product-thumb .button-group .wishlist, .product-thumb .button-group .quickview, .product-thumb .button-group .compare, .product-thumb .button-group .add-to-cart {
	background: transparent url("../images/sprite.png") no-repeat scroll -150px -469px;
	overflow: hidden;
	height: 30px;
	width: 29px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	margin: 5px;
	transition: all 0.5s ease 0s
}
.product-thumb .button-group .quickview {
	background-position: -50px -469px
}
.product-thumb .button-group .compare {
	background-position: 2px -469px
}
.product-thumb .button-group .add-to-cart {
	background-position: -100px -469px
}
.product-thumb .button-group .wishlist:hover {
	background-position: -150px -421px
}
.product-thumb .button-group .quickview:hover {
	background-position: -50px -421px
}
.product-thumb .button-group .compare:hover {
	background-position: 2px -421px
}
.product-thumb .button-group .add-to-cart:hover {
	background-position: -100px -421px
}
.product-thumb .button-group a {
	color: #fff;
}
.product-thumb .button-group {
	bottom: 110px;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
}
.Specials .product-name a {
	font-size: 18px;
	font-weight: 600;
	color: #000;
}
.prodetail.product-thumb .button-group {
	bottom: 0;
	position: relative;
	display: block;
}
.product-thumb:hover .button-group {
	transition: all 2s ease 0s;
	display: block;
}
.caption.product-detail {
	position: relative;
}
.product-thumb .button-group span {
	display: none;
}
.price {
	color: #e74c3c;
	font-size: 14px;
    display: inline-block;
    font-weight: 700;
	font-family:"Open Sans"
}
.category-page-wrapper {
	border: 1px solid #e6e6e6;
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	padding: 20px 0;
	width: 100%;
}
.product-grid .product-desc {
	display: none;
}
.btn.btn-default.grid-view {
	background: rgba(0, 0, 0, 0) url("../images/gridlist.png") no-repeat scroll 5px 0;
}
.btn.btn-default.grid-view.active {
	background: rgba(0, 0, 0, 0) url("../images/gridlist.png") no-repeat scroll 5px -35px;
}
.product-layout-right .product-list .product-thumb .image, .product-layout-left .product-list .product-thumb .image {
	margin: 0;
}
.product-layout-left, .product-layout-right {
	display: inline-block;
}
.product-list .product-thumb .image {
	background: #f5f5f5 none repeat scroll 0 0;
	float: left;
	margin: 0 20px 0 0;
	width: 32%;
}
.product-list .product-thumb .caption {
	float: left;
	margin: 0 0 0 15 px;
	padding: 0;
	text-align: left;
	width: 65%;
}
.col_3r .product-list .product-thumb .caption, .col_3l .product-list .product-thumb .caption {
	width: 40%;
}
.col_4 .product-list .product-thumb .caption {
	width: 70%;
}
.Specials .product-list .product-thumb .button-group {
	bottom: 75px;
}
.product-list .product-thumb .button-group {
	display: block;
	transition: all 2s ease 0s;
	bottom: 0px;
	text-align: left;
}
.product-list .product-desc {
	display: block;
}
.btn.btn-default.list-view {
	background: rgba(0, 0, 0, 0) url("../images/gridlist.png") no-repeat scroll -28px 0;
}
.btn.btn-default.list-view.active {
	background: rgba(0, 0, 0, 0) url("../images/gridlist.png") no-repeat scroll -28px -35px;
}
.btn.btn-default.list-view, .btn.btn-default.grid-view {
	padding: 8px 16px;
	border: none;
	box-shadow: none;
	outline: none;
	z-index: 0;
}
.control-label {
	float: left;
}
.sort-inner, .limit {
	float: left;
}
.sort-inner .form-control, .limit .form-control {
	background: transparent none repeat scroll 0 0;
	border: 0;
	box-shadow: none;
	padding: 3px;
	height: auto;
}
.pagination-nav ul li a {
	background-color: #f7f7f7;
	display: block;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	width: 36px;
}
.pagination-nav ul li.active a {
	background: #e74c3c none repeat scroll 0 0;
	color: #fff;
}
.pagination-nav ul li {
	display: inline-block;
	margin: 0 2px;
}
.rating {
	line-height: 1;
	margin:8px 0;
}
.fa-stack {
	height: 12px;
	line-height: 1;
	width: 10px;
}
.fa-stack-1x, .fa-stack-x {
	font-size: 13px;
}
.fa.fa-star-o.fa-stack-1x, .fa.fa-star.fa-stack-x {
	color: #b2b2b2;
}
.fa.fa-star.fa-stack-1x {
	color: #e74c3c;
}
#product-thumbnail .owl-nav {
	top: 38px;
}
#product-tab .owl-nav, .blog .owl-nav {
	right: 10px;
}
#product-thumbnail .owl-nav .owl-prev {
	left: 0;
}
/* ----------------------------------------------
	3.2.8 Client
----------------------------------------------- */
#client .type-01 {
	margin: 0 20px;
}
.client-title {
	text-transform: uppercase;
}
.client .type-01 h2 {
	margin-left: 30px;
	margin-right: 30px;
}
.client .fa.fa-quote-left {
	color: #ccc;
	font-size: 14px;
	color: #e74c3c;
	margin-right: 10px;
}
.client-title, .client-designation {
	color: #000;
}
/* ----------------------------------------------
	3.2.9 Owl nav
----------------------------------------------- */
.owl-nav {
	position: absolute;
	top: -62px;
	width: 100%;
}
.offers .owl-nav {
	position: absolute;
	right: 0px;
	top: 11px;
	width: 100%;
}
.related-pro .owl-nav, .team_grid .owl-nav {
	position: absolute;
	right: 10px;
	top: -55px;
	width: 100%;
}
.owl-nav > div {
	background: url("../images/sprite.png") no-repeat scroll -33px -507px;
	height: 25px;
	width: 25px;
	font-size: 0px;
	position: absolute;
	border: 1px solid;
	border-color: #e5e5e5;
	transition: 0.5s;
}
.owl-nav > div:hover {
	border-color: #e74c3c;
}
.owl-item .client-avatar > img {
	border-radius: 50%;
	width: auto !important;
}
.owl-nav .owl-prev {
	background-position: 9px -507px;
	opacity: 1;
	right: 33px;
}
.owl-nav .owl-prev:hover {
	background-color: #e74c3c;
	background-position: 9px -537px;
	transition: 0.5s;
}
.owl-nav .owl-next {
	left: auto;
	opacity: 1;
	right: 0;
}
.owl-nav .owl-next:hover {
	background-color: #e74c3c;
	background-position: -33px -537px;
	transition: 0.5s;
}

/* ----------------------------------------------
	3.2.10 About
----------------------------------------------- */
.about-heading {
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 2px solid #000;
	display: inline-block;
}
.about-heading span {
	font-weight: 300;
}
.about-text > p::first-letter {
	font-size: 18px;
	color: #000;
}
/* ----------------------------------------------
	3.2.11 Team
----------------------------------------------- */
.team-detail {
	padding: 0 10px;
}
.team-designation, .team-title {
	text-transform: uppercase;
}
.team .social > li, .team_grid .social > li {
	background: #dfdfdf none repeat scroll 0 0;
	display: inline-block;
	height: 40px;
	width: 40px;
}
.team .social > li:hover a, .team_grid .social > li:hover a {
	color: #000;
}
.social li a i {
	margin: 12px;
}
.team-detail .team-item-img {
	filter: grayscale(100%);
}
.team-detail:hover .team-item-img {
	filter: grayscale(0%);
}
.team_grid.col4 .social > li, .team4col .social > li {
	background: none;
	margin: 0 5px;
	height: 20px;
	width: 20px;
}
.col4 .social li a i {
	margin: 5px;
}
/* ----------------------------------------------
	3.2.12 Contact
----------------------------------------------- */
.contact .fa {
	margin-right: 10px;
}
/* ----------------------------------------------
	3.2.13 Shop Page
----------------------------------------------- */
a.thumbnails {
	border: 1px solid #ddd;
	display: block;
}
a.thumbnail {
	border-radius: 0px;
	margin: 10px 5px;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #000;
}

.price .price-tax {
	margin-left: 10px;
}

.related-pro .product-thumb {
	margin: 15px;
}
/* ----------------------------------------------
	3.2.14 Login & register
----------------------------------------------- */
#register-form {
	display: none;
}
/* ----------------------------------------------
	3.2.15 Map
----------------------------------------------- */
.map_right #map {
	height: 530px;
}
#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}
/* ----------------------------------------------
	3.2.16 Brand
----------------------------------------------- */
.brand a {
	opacity: 0.4;
}
.brand a:hover {
	opacity: 1;
}

/* ----------------------------------------------
	FOOTER
	4.1 Footer General
----------------------------------------------- */
.footer {
	background: #f2f2f2;
}
.footer-title, .footer h6 {
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
}
.footer-logo a img {
	transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
}
.footer-logo a:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.3;
}
.footer-link li {
	display: inline-block;
}
.footer-link li a {
	border-left: 1px solid #808080;
	padding: 0 10px;
	display: inline-block;
	line-height: 1;
}
.footer-block li {
	padding: 5px 0;
}
.footer .form-group > input {
	width: 100%;
}
.social_icon li {
	display: inline-block;
	height: 25px;
	width: 25px;
}
.social_icon ul li i.fa {
	background-color: transparent;
	font-size: 14px;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
}
.social_icon ul li a i.fa:hover {
	color: #000;
}
.footer-bottom {
	background: #000;
	color: #b2b2b2;
}
.payment-icon li {
	display: inline-block;
	font-size: 22px;
}
/* ----------------------------------------------
	4.2 Scrollup
----------------------------------------------- */

 #scrollup {
	background: url("../images/scroll.png") no-repeat;
	width: 60px;
	height: 60px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	text-indent: -9999px;
	cursor: pointer;
	z-index: 9999;
}

/* =====  RESPONSIVE CSS START  ===== */ 

@media (min-width: 1320px) {
.container {
	width: 1320px;
}
}
/*-----------------------------------*/

@media (max-width:1199px) {
.four-col-work .grid-item {
	width: 33.33%;
}
#menu > li > a {
	padding: 55px 7px;
}
.product-layout.product-list .image.product-imageblock {
	width: 46%;
}
.product-list .product-thumb .caption {
	width: 50%;
}
}
 @media (min-width: 992px) and (max-width: 1199px) {
.about-title {
	font-size: 40px;
	line-height: 55px;
}
}
/*----------------------------------*/

@media (max-width:991px) {
.navbar-header {
	float: left;
	width: 57%;
}
.mega-dropdown-menu .carousel.slide {
	display: none;
}
.mega-dropdown-menu, #menu .dropdown-menu {
	position: relative;
	width: 100%;
}
.product-list .product-thumb .caption {
	width: 100%;
	margin-top: 20px;
}
.toggle.active .toggle_div::before {
	color: #000;
	content: "\f055";
	font-family: "FontAwesome";
	font-size: 22px;
	padding: 0;
	position: absolute;
	right: 0;
}
.toggle .toggle_div::before {
	color: #000;
	content: "\f056";
	font-family: "FontAwesome";
	font-size: 22px;
	padding: 0;
	position: absolute;
	right: 0;
}
.navbar-collapse {
	width: 100%;
	position: absolute;
	z-index: 1;
	background: #f2f2f2;
	top: 129px;
}
.navbar-left, .navbar-right {
	float: none !important;
}
.navbar-toggle {
	display: block;
}
.navbar-collapse {
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	z-index: 3;
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}
.navbar-collapse.collapse {
	display: none!important;
}
.navbar-nav {
	float: none!important;
	margin-top: 7.5px;
}
.navbar-nav>li {
	float: none;
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.collapse.in {
	display: block !important;
}
#menu > li > a {
	padding: 15px;
}
#product-tab .owl-nav {
	top: -79px;
}
#product-tab .nav {
	right: auto;
	top: 47px;
}
#product-tab .heading-part {
	margin-bottom: 40px;
}
.footer-block ul {
	display: none;
}
.footer .form-group > input {
	float: left;
}
.footer .form-group .btn {
	float: left;
	margin-left: 15px;
	padding: 10px 20px;
}
.footer .form-group > input {
	width: 280px;
}
.footer-title {
	cursor: pointer;
	position: relative;
}
.category-page-wrapper > div {
	width: 100%;
	text-align: left;
}
}
/*-----------------------------------*/
@media (min-width: 768px) {
#category-menu-responsive {
	display: none !important;
}
}
@media (max-width: 767px) {
.header-top-left, .header-top-right {
	text-align: center;
}
#category-menu-responsive {
	display: none;
}
#category-menu {
	display: none !important;
}
.left_banner {
	display: none;
}
.portfolio-filter.nav.navbar-nav {
	display: inline;
}
.portfolio-filter.nav.navbar-nav > li {
	background: #f5f5f5 none repeat scroll 0 0;
	margin: 2px 0;
}
.product-layout.product-grid {
	width: 50%;
}
.three-col-work .grid-item, .three-col-blog .blog-item, .two-col-work .grid-item, .two-col-blog .blog-item, .four-col-work .grid-item {
	width: 100%;
}
.payment-icon, .copyright-part {
	text-align: center;
}
.newsletter-popup-top{width:50%; margin: 0; padding: 0;}
.newsletter-popup-top .popup-desc{padding: 10px 0;}
.offer{width:45%; float: left;}
.newsletter-popup .popup-title span{margin-left:0;}
.newsletter-popup .popup-title{font-size:50px;}
.newsletter-popup{
	margin: 30px;
	width: auto;
}
.newsletters div.news-form.pull-right{
	float: left !important;
	margin: 10px 0 0;
}
}
/*-----------------------------------*/
 @media (min-width: 481px) and (max-width: 767px) {
.bannertext {
	width: 80%;
}
.bannertext > h2 {
	font-size: 20px;
}
}
@media (max-width:650px) {
.logo {
	margin-left: 50px;
}
.logo a {
	padding: 10px 0 10px 10px;
}
.category-page-wrapper > div {
	width: 100%;
}
}
/*-----------------------------------*/

@media (max-width:480px) {
.navbar-header {
	width: 100%;
	text-align: center;
}
.navbar-brand, .header-right {
	width: 100%;
}
.navbar-brand > img {
	display: inline-block;
}
.navbar-collapse {
	top: 136px;
}
.navbar-header {
	margin: 0;
}
.header-right.pull-right.mtb_50 {
	margin: 0 0 20px;
}
.product-layout.product-list .image.product-imageblock {
	width: 100%;
}
.footer .form-group .btn {
	float: none;
	margin-left: 0;
}
.cms_banner > div {
	width: 100%;
}
	.newsletter-popup{padding: 25px;}
	.offer{display: none;}
	.newsletter-popup .popup-title span{margin: 0;}
	.newsletter-popup .popup-title{font-size:40px;}
	.newsletter-popup-top .popup-desc,.newsletter-popup{text-align: center;}
	.newsletter-popup-top .btn-default, .newsletter-popup-top .btn-default:hover,label.checkme,.newsletter-popup-top,
	.newsletter-popup .popup-title{float: none;}
	.newsletter-popup-top{width: auto; margin: 0; padding: 0;}
}
@media (max-width:400px) {
.product-layout.product-grid {
	/*width: 100%;*/
    width: 50%;
}
}
@media (max-width:360px) {
.header-top-left li, .header-top-right li {
	padding: 0 10px;
}
.nav > li > a {
	padding: 6px;
}}
/* =====  END RESPONSIVE CSS  =====*/